.form__wrap {
  display: flex;
  flex-direction: column;
}

.form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px 12px 10px 10px;
  margin: -10px -12px 8px -10px;

  // &--submit {
  //   background-color: @colorWhite;
  // }
}

.form__item:last-child {
  margin-bottom: 0;
}

.form__label {
  margin-right: 10px;
}